<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80479214894-uucbm2iou0l8ticpg5lbfc92bg988mvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80479214894-uucbm2iou0l8ticpg5lbfc92bg988mvj</string>
	<key>API_KEY</key>
	<string>AIzaSyBf8kpc4Ta8Ni2P1E9k_6qkpult0HTPeSU</string>
	<key>GCM_SENDER_ID</key>
	<string>80479214894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soundguideApp</string>
	<key>PROJECT_ID</key>
	<string>sound-guide-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sound-guide-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80479214894:ios:6ed9f0dce9b6b2a2b32ebf</string>
</dict>
</plist>